
      <div class="content">
       
        <table class="table table-striped" style="border: 1px solid #0000004d">
          <thead>
            <tr>
              <th scope="col">Sr.no</th>
              <th scope="col">Employee Name</th>
              <th scope="col">Email</th>
              <th scope="col">Mobile</th>
             
            </tr>
          </thead>
          <tbody *ngFor="let data of userDataf; let i = index" [style.background-color]="i % 2 === 0 ? '#00000011' : 'white'">
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ data.Name | titlecase }}</td>
              <td>{{ data.Email }}</td>
              <td>{{ data.Mobile }}</td>
             
            </tr>
          </tbody>
        </table>
      </div>
   