<div class="container">
    <div class="row">
        <div class="col-12">
           <label class="label1"><b>From Date:</b>&nbsp;&nbsp;</label>
            <input type="date" class="dated date1" [(ngModel)]="fDate" (input)="search()">&nbsp;&nbsp;
            <label class="label2"><b>To Date:</b>&nbsp;&nbsp; </label>
            <input type="date" class="dated marginn" [(ngModel)]="sDate" (input)="search()">
        </div>
    </div><br>

    <div class="row">
      <div class="ss">
        <div *ngIf="taskDataf.length>0">
        <table class="table table-striped" style="text-align: center; border: 1px solid #0000004d">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Tasks</th>
              </tr>
            </thead>

            <tbody *ngFor="let data of taskDataf; let i = index" [style.background-color]="i % 2 === 0 ? '#00000011' : 'white'">
              <tr>
                <td>{{data.date | date:"dd-MMM-yyyy"}}</td>
                <td>
                    <ul *ngFor="let d of data.tasks; let j = index">
                      <li>{{ j + 1 }}: {{ d }}</li>
                    </ul>
                  </td>
                <!-- <td routerLink="/home/con-data/con-child/{{data.Name}}">{{ data.Name }}</td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
        <div *ngIf="taskDataf.length<=0">
            <p>Data not found<p>
        </div>
    </div>
</div>
