
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6">
            
             <!-- <select
            class="form-select selectt"
            aria-label="Default select example"
            [(ngModel)]="projectName"
            (change)="search()"
            >
            <option *ngFor="let data of projectData; let first =first" [value]="data.name" [selected]="first" >
              {{ data.name | titlecase }}
            </option></select> 
             -->
             <select
             class="form-select selectt"
             aria-label="Default select example"
             [(ngModel)]="projectName"
             (change)="search()"
            
         >
             <option *ngFor="let data of projectData; let i = index" [value]="data.name" [selected]="i === 1">
                 {{ data.name | titlecase }}
             </option>
         </select>
        </div>
    </div><br>

    <div class="row justify-content-center">

        <div class="col-3">
          <div class="ss">
          <div *ngIf="userDataf.length>0">
            <table class="table table-striped-columns" style="text-align: center;border: 2px solid #00000011">
                <thead>
                  <tr>
                      <th scope="col">Employee Name</th>
                  </tr>
                </thead>
    
                <tbody *ngFor="let data of userDataf">
                  <tr>
                    <!-- <td routerLink="/home/con-data/con-child/{{data.Name}}">{{ data.Name }}</td> -->
                    <td (click)="getEmpName(data.Name)" (click)="selectName(data.Name)" [style.background-color]="isSelected(data.Name) ? 'lightblue' : 'inherit'">{{ data.Name }}</td>

                  </tr>
                </tbody>
              </table>
          </div>
          </div>
        </div>
        
        <div class="col-9">
          <div class="row">
            <div class="col-12">
               <label class="label1"><b>From Date:</b>&nbsp;&nbsp;</label>
                <input type="date" class="dated date1" [(ngModel)]="fDate" (input)="search2()">&nbsp;&nbsp;
                <label class="label2"><b>To Date:</b>&nbsp;&nbsp; </label>
                <input type="date" class="dated marginn" [(ngModel)]="sDate" (input)="search2()">
            </div>
        </div><br>

        <div class="row">
          <div class="ss">
            <div *ngIf="taskDataf.length>0">
            <table class="table table-striped" style="text-align: center; border: 1px solid #0000004d">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Tasks</th>
                  </tr>
                </thead>
    
                <tbody *ngFor="let data of taskDataf; let i = index" [style.background-color]="i % 2 === 0 ? '#00000011' : 'white'">
                  <tr>
                    <td>{{data.date | date:"dd-MMM-yyyy"}}</td>
                    <td>
                        <ul *ngFor="let d of data.tasks; let j = index">
                          <li>{{ j + 1 }}: {{ d }}</li>
                        </ul>
                      </td>
                    <!-- <td routerLink="/home/con-data/con-child/{{data.Name}}">{{ data.Name }}</td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
            <div *ngIf="taskDataf.length<=0">
                <p>Data not found<p>
            </div>
        </div>
               <!-- <router-outlet></router-outlet> -->
        </div>
    </div>
</div>

<!-- <option value="" disabled selected>Select project</option> -->