img{
    height: 50px;
    width:60px
  }

  .btn{
    margin-right: 14px;
  }

  /* @media screen and (max-width:400px) {
    .navbar{
      width: 100%;
    }
  } */

  @media screen and (max-width:400px) {
    .technoname{
      font-size: 0.5rem;
    }
  }