<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="header">Menu</div>
        <div class="menu-item" ><a routerLink="/users">Users</a></div>
        <div class="menu-item" [class.disabled]="isDisabled">
          <a routerLink="/daily-task">Add Daily-Task</a>
        </div>
        <div class="menu-item"><a routerLink="/show-task"> Tasks</a></div>
        <hr />
      </div>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </body>
</html> -->

<router-outlet></router-outlet>
